<ng-container *ngIf="!loading">
  <div class="dashboard-card">
    <div class="w-full mb-12 xl:mb-0 px-4">
      <card [title]="'No Brasil'">
        <div actions class="flex flex-wrap justify-around items-center w-full h-36">
          <div class="square">
            <span class="square-title">Nº de internações</span>
            <span class="square-value">2.390.815</span>
          </div>
          <div class="square">
            <span class="square-title">N° de atendimentos na atenção básica</span>
            <span class="square-value">91.498.185</span>
          </div>
          <div class="square">
            <span class="square-title">Morbidade com mais casos de internações</span>
            <span class="square-value">Esquizofrenia, transtornos esquizotípicos e delirantes</span>
          </div>
        </div>
      </card>
    </div>
  </div>

  <div class="dashboard">
    <div class="w-full mb-12 xl:mb-0 px-4">
      <card [title]="Charts[DashPubElem.qtdCasosPorMorbidadeAtendimento]?.Title" class="tamanho">
        <div actions class="flex flex-wrap w-full">
          <!-- Filtros fixos 'Conteúdo' e 'Estado' sempre visíveis -->
          <ng-container
            *ngFor="let filterItem of Charts[DashPubElem.qtdCasosPorMorbidadeAtendimento]?.Actions?.Filters; let i = index">
            <!-- Filtros dinâmicos, visibilidade controlada por *ngIf -->
            <div *ngIf="filterItem.Label === 'Conteúdo' || filterItem.Label === 'Estado' || filterItem.Visible"
              class="w-full md:w-1/2">
              <select-auto-complet [label]="filterItem?.Label" [options]="filterItem?.Options"
                [selectedDefault]="filterItem?.Value"
                (optionChange)="qtdCasosPorMorbidadeAtendimentoEvent($event, Charts[DashPubElem.qtdCasosPorMorbidadeAtendimento])">
              </select-auto-complet>
            </div>
          </ng-container>
        </div>
        <ng-container body>
          <chart [chart]="Charts[DashPubElem.qtdCasosPorMorbidadeAtendimento]?.Chart"
            [id]="Charts[DashPubElem.qtdCasosPorMorbidadeAtendimento]?.Id"
            *ngIf="!Charts[DashPubElem.qtdCasosPorMorbidadeAtendimento]?.Loading">
          </chart>
          <chart-loading [loading]="Charts[DashPubElem.qtdCasosPorMorbidadeAtendimento]?.Loading">
          </chart-loading>
        </ng-container>
      </card>
    </div>
    <div class="dashboard-card">
      <div class="w-full mb-12 xl:mb-0 px-4">
        <card [title]="Charts[DashPubElem.dadosPorConteudo]?.Title" class="tamanho">
          <div actions class="flex flex-wrap">
            <ng-container *ngFor="let filterItem of Charts[DashPubElem.dadosPorConteudo]?.Actions?.Filters; index as i">
              <div class="w-full md:w-1/2">
                <select-auto-complet [label]="filterItem?.Label" [options]="filterItem?.Options"
                  [selectedDefault]="filterItem?.Value"
                  (optionChange)="dadosPorConteudoEvent($event,Charts[DashPubElem.dadosPorConteudo])">
                </select-auto-complet>
              </div>
            </ng-container>
            
          </div>
          <ng-container body>
            <chart [chart]="Charts[DashPubElem.dadosPorConteudo]?.Chart" [id]="Charts[DashPubElem.dadosPorConteudo]?.Id"
              *ngIf="!Charts[DashPubElem.dadosPorConteudo]?.Loading">
            </chart>
            <chart-loading [loading]="Charts[DashPubElem.dadosPorConteudo]?.Loading">
            </chart-loading>
          </ng-container>
        </card>
      </div>
    </div>
  </div>

  <div class="w-full mb-12 xl:mb-0 px-4">
    <card [title]="Charts[DashPubElem.qtdCasosPorEstado]?.Title">
      <div actions class="flex flex-wrap">
        <ng-container *ngFor="let filterItem of Charts[DashPubElem.qtdCasosPorEstado]?.Actions?.Filters; index as i">
          <div class="w-full md:w-1/2">
            <select-auto-complet [label]="filterItem?.Label" [options]="filterItem?.Options"
              [selectedDefault]="filterItem?.Value"
              (optionChange)="qtdCasosPorEstadoEvent($event,Charts[DashPubElem.qtdCasosPorEstado])">
            </select-auto-complet>
          </div>
        </ng-container>
      </div>
      <ng-container body>
        <chart [chart]="Charts[DashPubElem.qtdCasosPorEstado]?.Chart" [id]="Charts[DashPubElem.qtdCasosPorEstado]?.Id"
          *ngIf="!Charts[DashPubElem.qtdCasosPorEstado]?.Loading">
        </chart>
        <chart-loading [loading]="Charts[DashPubElem.qtdCasosPorEstado]?.Loading">
        </chart-loading>
      </ng-container>
    </card>
  </div>


  <div class="w-full mb-0 xl:mb-0 px-4">
    <card [title]="'Origem dos dados'">
      <div class="card-body-content" body>
        Os dados públicos sobre saúde mental são retirados das plataformas do Departamento de Informática do Sistema
        Único de Saúde (DATASUS) e do Sistema de Informação em Saúde para a Atenção Básica (SISAB), ambas geridas
        pelo Ministério da Saúde.<br>O DATASUS abrange uma vasta quantidade de internações hospitalares efetuadas
        em território brasileiro, enquanto o SISAB disponibiliza informações provenientes dos sistemas da Atenção
        Primária à Saúde.
        <br><br>
        <h3 class="uppercase mb-1 text-1x1 font-medium text-gray-700">
          Intervalo temporal abrangido pelos dados
        </h3>
        Os dados do DATASUS foram coletados de 2013 a julho de 2023, enquanto os dados do SISAB abrangeram o período de abril de 2013 a agosto de 2023, considerando a disponibilidade máxima das plataformas durante a execução do trabalho.
      
      </div>
    </card>
  </div>

    <div class="w-full mb-0 xl:mb-0 px-4">
    <card [title]="'Notas'">
        <div class="card-body-content" body>
          1. Os dados do DATASUS, de janeiro de 2015 até março de 2016, estão sujeitos a retificação, e os dados do
          SISAB
          estão sujeitos à alteração. <p></p>2. No SISAB, os registros relativos ao Distrito Federal somente estão
          disponíveis a partir de 2017 e o ano de
          2013 não possui o registro de 9 estados (AL, AM, DF, MS, PR, RS, RO, RR e SE).
        </div>
    </card>
  </div>


  <footer class="footer">Desenvolvido em 2023.</footer>


</ng-container>