<nav
  class="md:left-0 md:block md:fixed md:top-0 md:bottom-0 md:overflow-y-auto md:flex-row md:flex-nowrap md:overflow-hidden shadow-xl bg-white flex flex-wrap items-center justify-between relative md:w-64 z-10 py-4 px-6"
>
  <div
    class="md:flex-col md:items-stretch md:min-h-full md:flex-nowrap px-0 flex flex-wrap items-center justify-between w-full mx-auto"
  >
    <!-- Toggler -->
    <button
      class="cursor-pointer text-black opacity-50 md:hidden px-3 py-1 text-xl leading-none bg-transparent rounded border border-solid border-transparent"
      type="button"
      (click)="toggleCollapseShow('bg-white m-2 py-3 px-6')"
      aria-label="Ativa Menu Lateral"
    >
      <i class="fas fa-bars text-blue-900 text-2xl"></i>
    </button>
    <!-- Brand -->
    <a
      [routerLink]="['/']"
      class="md:block text-left md:pb-2 text-slate-600 mr-0 inline-block whitespace-nowrap text-sm uppercase font-bold p-4 px-0"
    >
      <span class="block">{{ textos.Title }} </span>
    </a>
    <!-- Collapse -->
    <div
      class="md:flex md:flex-col md:items-stretch md:opacity-100 md:relative md:mt-4 md:shadow-none shadow absolute top-0 left-0 right-0 z-40 overflow-y-auto overflow-x-hidden h-auto items-center flex-1 rounded"
      [ngClass]="collapseShow"
    >
      <!-- Collapse header -->
      <div class="md:min-w-full md:hidden block pb-4 mb-4">
        <div class="flex flex-wrap">
          <div class="w-6/12">
            <a
              [routerLink]="['/']"
              class="md:block text-center md:pb-2 text-slate-600 mr-0 inline-block whitespace-nowrap text-sm uppercase font-bold p-4 px-0"
            >
              {{ textos.Title }}
            </a>
          </div>
          <div class="w-6/12 flex justify-end">
            <button
              type="button"
              class="cursor-pointer text-black opacity-50 md:hidden px-3 py-1 text-xl leading-none bg-transparent rounded border border-solid border-transparent"
              (click)="toggleCollapseShow('hidden')"
            >
              <i class="fas fa-times"></i>
            </button>
          </div>
        </div>
      </div>

      <!-- Divider -->
      <hr class="my-4 md:min-w-full" />
      <ng-container *ngFor="let menu of routes">
        <!-- Heading -->
        <h6
          class="md:min-w-full text-slate-500 text-xs uppercase font-bold block pt-1 pb-4 no-underline"
        >
          {{ menu.Label }}
        </h6>
        <!-- Navigation -->

        <ul class="md:flex-col md:min-w-full flex flex-col list-none">
          <li
            class="items-center"
            *ngFor="let sub of menu.SubRoutes"
            [ngSwitch]="sub.Hash"
          >
            <a
              *ngSwitchCase="'#menuAnalyticsDashboard'"
              [routerLink]="sub.Route"
              class="text-xs uppercase py-3 font-bold block"
              routerLinkActive
              #menuAnalyticsDashboard="routerLinkActive"
              [ngClass]="
                menuAnalyticsDashboard.isActive
                  ? 'text-blue-600 hover:text-blue-700'
                  : 'text-slate-700 hover:text-slate-500'
              "
            >
              <i
                class="mr-2 text-sm"
                [ngClass]="
                  sub.Icon || {
                    'opacity-75': menuAnalyticsDashboard.isActive,
                    'opacity-50': !menuAnalyticsDashboard.isActive
                  }
                "
              ></i>
              {{ sub.Label }}
            </a>

            <a
            *ngSwitchCase="'#menuConsultasAno'"
            [routerLink]="sub.Route"
            class="text-xs uppercase py-3 font-bold block"
            routerLinkActive
            #menuConsultasAno="routerLinkActive"
            [ngClass]="
            menuConsultasAno.isActive
                ? 'text-blue-600 hover:text-blue-700'
                : 'text-slate-700 hover:text-slate-500'
            "
          >
            <i
              class="mr-2 text-sm"
              [ngClass]="
                sub.Icon || {
                  'opacity-75': menuConsultasAno.isActive,
                  'opacity-50': !menuConsultasAno.isActive
                }
              "
            ></i>
            {{ sub.Label }}
          </a>

            <a
              *ngSwitchCase="'#menuConsultasExpressao'"
              [routerLink]="sub.Route"
              class="text-xs uppercase py-3 font-bold block"
              routerLinkActive
              #menuConsultasExpressao="routerLinkActive"
              [ngClass]="
                menuConsultasExpressao.isActive
                  ? 'text-blue-600 hover:text-blue-700'
                  : 'text-slate-700 hover:text-slate-500'
              "
            >
              <i
                class="mr-2 text-sm"
                [ngClass]="
                  sub.Icon || {
                    'opacity-75': menuConsultasExpressao.isActive,
                    'opacity-50': !menuConsultasExpressao.isActive
                  }
                "
              ></i>
              {{ sub.Label }}
            </a>

            <a
              *ngSwitchCase="'#menuConsultasRepositorio'"
              [routerLink]="sub.Route"
              class="text-xs uppercase py-3 font-bold block"
              routerLinkActive
              #menuConsultasRepositorio="routerLinkActive"
              [ngClass]="
                menuConsultasRepositorio.isActive
                  ? 'text-blue-600 hover:text-blue-700'
                  : 'text-slate-700 hover:text-slate-500'
              "
            >
              <i
                class="mr-2 text-sm"
                [ngClass]="
                  sub.Icon || {
                    'opacity-75': menuConsultasRepositorio.isActive,
                    'opacity-50': !menuConsultasRepositorio.isActive
                  }
                "
              ></i>
              {{ sub.Label }}
            </a>

            <a
              *ngSwitchCase="'#menuConsultasTranstorno'"
              [routerLink]="sub.Route"
              class="text-xs uppercase py-3 font-bold block"
              routerLinkActive
              #menuConsultasTranstorno="routerLinkActive"
              [ngClass]="
                menuConsultasTranstorno.isActive
                  ? 'text-blue-600 hover:text-blue-700'
                  : 'text-slate-700 hover:text-slate-500'
              "
            >
              <i
                class="mr-2 text-sm"
                [ngClass]="
                  sub.Icon || {
                    'opacity-75': menuConsultasTranstorno.isActive,
                    'opacity-50': !menuConsultasTranstorno.isActive
                  }
                "
              ></i>
              {{ sub.Label }}
            </a>

            <a
              *ngSwitchCase="'#menuConsultasAvancada'"
              [routerLink]="sub.Route"
              class="text-xs uppercase py-3 font-bold block"
              routerLinkActive
              #menuConsultasAvancada="routerLinkActive"
              [ngClass]="
                menuConsultasAvancada.isActive
                  ? 'text-blue-600 hover:text-blue-700'
                  : 'text-slate-700 hover:text-slate-500'
              "
            >
              <i
                class="mr-2 text-sm"
                [ngClass]="
                  sub.Icon || {
                    'opacity-75': menuConsultasAvancada.isActive,
                    'opacity-50': !menuConsultasAvancada.isActive
                  }
                "
              ></i>
              {{ sub.Label }}
            </a>
          </li>
        </ul>

        <!-- Divider -->
        <hr class="my-4 md:min-w-full" />
      </ng-container>

    </div>
  </div>
</nav>
