.main {
  position: relative;
  left: 20px;
  margin: 10px;
}

.consult {
  margin: auto 3rem auto 10rem;
  justify-content: center;

  &_form {
    margin-bottom: 2rem;
  }
  &_content {
    flex: 1;
  }
}
