<ion-content id="scrollCustom">
<div class="main">
  <div class="consult">
    <div class="consult_form">
      <consult-form [options]="options" [templateTipo]='tipo' (emitForm)="formRecivie($event)"></consult-form>
    </div>
    <div class="justify-content-center">
      <!-- <button class="btn btn_line_primary" (click)="pesquisar()">Pesquisa Avançada</button> -->
      <button class="btn_full btn_line_primary" (click)="pesquisar()">Pesquisar</button>
    </div>
    <div class="consult_content">
      <psi-search-result [articles]="articles"></psi-search-result>
    </div>
  </div>
</div>
</ion-content>
