<div class="justify-content-center m-b-10">
  <div class="searchbar">
    <div class="searchbar_container">
      <div class="searchbar_container_input">
        <input
        *ngIf="!inputSelected; else elseInput"
        type="search"
        list="atributes"
        placeholder="Oque você está procurando hoje?"
        (keyup)="InputSelect($event)"
        [formControl]="searchInput"
        #simpleInput
      />

      <datalist id="atributes" *ngIf="multAtributeSearch">
        <ng-container *ngFor="let item of alternativas">
          <option
            [value]="item.key"
            [label]="item.label"
            *ngIf="!item.hidden"
          ></option>
        </ng-container>
      </datalist>

      <ng-template #elseInput class="template_else">
        <span>{{ inputSelected?.key }}:</span>
        <input
          placeholder="Oque você está procurando hoje?"
          [type]="inputSelected.type"
          [(ngModel)]="inputSelected[inputSelected?.key]"
          (keyup)="inputHandler($event)"
          #compostInput
        />
      </ng-template>

      </div>
      <div class="searchbar_container_actions">
        <button (click)="pesquisar()">
          <ion-icon name="search-sharp"></ion-icon>
        </button>
      </div>
    </div>
    <div>
      <img src="./assets/icons/question.svg" alt="question-mark" />
    </div>
  </div>
</div>
<!-- Local Temporario ate criar as badges -->
<div class="searchbar_badge">
    <psi-badge
    *ngFor="let item of arrayInputs; let i = index"
    size="size-15"
    cursor="pointer"
    icon='trash-outline'
    animate='animate'
    [label]="item?.label+': '+item[item?.key]"
    [index]="i"
    (onClick)=remove($event)
    ></psi-badge>

</div>
