<div class="center_main">
<div class="justify-content-center m-b-10">
  <div class="searchbar">
    <div class="searchbar_container">
      <div class="searchbar_container_input">
        <input
        *ngIf="!inputSelected; else elseInput"
        type="search"
        list="atributes"
        placeholder="O que você está procurando hoje?"
        (keyup)="InputSelect($event)"
        [formControl]="searchInput"
        #simpleInput
      />

      <datalist id="atributes" *ngIf="multAtributeSearch">
        <ng-container *ngFor="let item of alternativas">
          <option
            [value]="item.key"
            [label]="item.label"
            *ngIf="!item.hidden"
          ></option>
        </ng-container>
      </datalist>

      <ng-template #elseInput class="template_else">
        <span>{{ inputSelected?.key }}:</span>
        <input
          placeholder=""
          [type]="inputSelected.type"
          [(ngModel)]="inputSelected[inputSelected?.key]"
          (keyup)="inputHandler($event)"
          #compostInput
        />
      </ng-template>

      </div>
      <div class="searchbar_container_actions">
        <button (click)="pesquisar()" *ngIf="!inputSelected; else addIcon">
          <ion-icon name="search-sharp"></ion-icon>
        </button>
        <ng-template #addIcon>
          <button (click)="addInput()">
            <ion-icon name="add-circle-sharp" color="tertiary" alt="Adicionar Atributo para pesquisa"></ion-icon>
          </button>
        </ng-template>
      </div>
    </div>
    <div>
      <button (click)="question()">
        <img src="./assets/icons/question.svg" alt="question-mark" />
      </button>
    </div>
  </div>
</div>
<!-- Local Temporario ate criar as badges -->
<div class="searchbar_badge">
    <psi-badge
    *ngFor="let item of arrayInputs; let i = index"
    size="size-15"
    cursor="pointer"
    icon='trash-outline'
    animate='animate'
    [label]="item?.label+': '+item[item?.key]"
    [index]="i"
    (onClick)=remove($event)
    ></psi-badge>

</div>

<div class="justify-content-center">
  <!-- <button class="btn btn_line_primary" (click)="pesquisar()">Pesquisa Avançada</button> -->
  <button class="btn btn_line_tertiary" (click)="pesquisar()">Pesquisar</button>
  <button class="btn btn_line_danger" (click)="limparPesquisa()">Limpar Pesquisa</button>
</div>
</div>