<ng-container *ngIf="!loading">
  <div class="flex flex-wrap">
    <div class="w-full xl:w-7/12 mb-12 xl:mb-0 px-4">
      <card [title]="Charts[TrabalhosEmAnosPorRepositorio].Title">
        <div actions class="flex flex-wrap">
          <div class="w-full md:w-1/2">
            <select-auto-complet
              [options]="
                Charts[TrabalhosEmAnosPorRepositorio]?.Actions?.Filter?.Options
              "
              [selectedDefault]="
                Charts[TrabalhosEmAnosPorRepositorio]?.Actions?.Filter?.Value
              "
              (optionChange)="
                filter(
                  $event,
                  Charts[TrabalhosEmAnosPorRepositorio],
                  TrabalhosEmAnosPorRepositorio
                )
              "
            >
            </select-auto-complet>
          </div>
          <div class="w-full md:w-1/2">
            <select-auto-complet
              [options]="
                Charts[TrabalhosEmAnosPorRepositorio]?.Actions?.Filter?.Options
              "
              [selectedDefault]="
                Charts[TrabalhosEmAnosPorRepositorio]?.Actions?.Filter?.Value
              "
              (optionChange)="
                filter(
                  $event,
                  Charts[TrabalhosEmAnosPorRepositorio],
                  TrabalhosEmAnosPorRepositorio
                )
              "
            >
            </select-auto-complet>
          </div>
        </div>
        <chart
          body
          [chart]="Charts[TrabalhosEmAnosPorRepositorio]?.Chart"
          [id]="Charts[TrabalhosEmAnosPorRepositorio]?.Id"
          *ngIf="!Charts[TrabalhosEmAnosPorRepositorio].Loading"
        ></chart>
        <chart-loading
          [loading]="Charts[TrabalhosEmAnosPorRepositorio].Loading"
        ></chart-loading>
      </card>
    </div>
    <div class="w-full xl:w-5/12 mb-12 xl:mb-0 px-4">
      <card [title]="Charts[TotalAnos].Title">
        <chart
          body
          [chart]="Charts[TotalAnos]?.Chart"
          [id]="Charts[TotalAnos]?.Id"
        ></chart>
      </card>
    </div>
  </div>
  <div class="flex flex-wrap">
    <div class="w-full xl:w-7/12 mb-12 xl:mb-0 px-4">
      <card [title]="Charts[TrabalhosEmAnosPorRepositorio].Title">
        <select-auto-complet
          [options]="
            Charts[TrabalhosEmAnosPorRepositorio]?.Actions?.Filter?.Options
          "
          [selectedDefault]="
            Charts[TrabalhosEmAnosPorRepositorio]?.Actions?.Filter?.Value
          "
          (optionChange)="
            filter(
              $event,
              Charts[TrabalhosEmAnosPorRepositorio],
              TrabalhosEmAnosPorRepositorio
            )
          "
        >
        </select-auto-complet>
        <chart
          body
          [chart]="Charts[TrabalhosEmAnosPorRepositorio]?.Chart"
          [id]="Charts[TrabalhosEmAnosPorRepositorio]?.Id"
          *ngIf="!Charts[TrabalhosEmAnosPorRepositorio].Loading"
        ></chart>
        <chart-loading
          [loading]="Charts[TrabalhosEmAnosPorRepositorio].Loading"
        ></chart-loading>
      </card>
    </div>
    <div class="w-full xl:w-5/12 mb-12 xl:mb-0 px-4">
      <card [title]="Charts[TotalAnos].Title">
        <chart
          body
          [chart]="Charts[TotalAnos]?.Chart"
          [id]="Charts[TotalAnos]?.Id"
        ></chart>
      </card>
    </div>
  </div>
  <div class="flex flex-wrap mt-4">
    <div class="w-full xl:w-5/12 px-4">
      <card [title]="Charts[TrabalhosPorRepositorios].Title">
        <chart
          body
          [chart]="Charts[TrabalhosPorRepositorios]?.Chart"
          [id]="Charts[TrabalhosPorRepositorios]?.Id"
        ></chart>
      </card>
    </div>
    <div class="w-full xl:w-4/12 px-4">
      <card [title]="Frequencias[frequenciasTitulosTrabalhos].Title">
        <div actions class="flex justify-end">
          <button
            class="bg-lightBlue-500 text-slate-900 active:bg-lightBlue-600 font-bold uppercase text-xs px-4 py-2 rounded-full shadow hover:shadow-md outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
            type="button"
            (click)="openModal(Frequencias[frequenciasTitulosTrabalhos])"
            aria-label="Frequencias de titulos de trabalhos, ver todos os 10"
          >
            Ver todas
          </button>
        </div>
        <tabela
        body
          [campos]="atributosTabelas"
          [linhas]="Frequencias[frequenciasTitulosTrabalhos].Preview"
          [haslegendas]="false"
        >
        </tabela>
      </card>
    </div>
    <div class="w-full xl:w-3/12 px-4">
      <card [title]="Frequencias[frequenciasTiposTrabalhos].Title">
        <div actions class="flex justify-end">
          <button
            class="bg-lightBlue-500 text-slate-900 active:bg-lightBlue-600 font-bold uppercase text-xs px-4 py-2 rounded-full shadow hover:shadow-md outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
            type="button"
            (click)="openModal(Frequencias[frequenciasTiposTrabalhos])"
            aria-label="Frequencias de Tipos de trabalho ver todos os 10"
          >
            Ver todas
          </button>
        </div>
        <tabela
          body
          [campos]="atributosTabelas"
          [linhas]="Frequencias[frequenciasTiposTrabalhos].Preview"
          [haslegendas]="false"
        >
        </tabela>
      </card>
    </div>
  </div>
</ng-container>
<dash-loading [loading]="loading"></dash-loading>

<ng-container *ngIf="showModalFrequencia">
  <frequencia-todos-itens
    [campos]="atributosTabelas"
    [linhas]="frequenciaSelecionada.Frequencias"
    [titulo]="frequenciaSelecionada.Title"
    (dismiss)="closeModal()"
  >
  </frequencia-todos-itens>
</ng-container>
