<div class="sidenav" *ngIf="routes?.length > 0">
  <nav class="nav">
    <ng-container *ngFor="let route of routes">
      <ng-container *ngIf="route.inUse && route.icone === 'analytics-outline'">
        <div [routerLink]="route.route"
        [routerLinkActive]="['icon-active']"
        [routerLinkActiveOptions]="{exact:
          false}">
          <ion-icon
            name="analytics-outline"
            size="large"
          ></ion-icon>
        </div>
        </ng-container>
      <ng-container *ngIf="route.inUse && route.icone === 'search-outline'">
        <div>
          <ion-icon
            name="search-outline"
            [routerLink]="route.route"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact:
              false}"
            size="large"
          ></ion-icon>
        </div>
        <ng-container *ngFor="let sub of route?.subRoutes">
          <a
            *ngIf="sub.inUse"
            [routerLink]="sub.route"
            routerLinkActive="active"
            >{{ sub.label }}</a
          >
        </ng-container>
      </ng-container>
    </ng-container>
  </nav>
</div>
