<div>
  <swiper [navigation]="true" class="mySwiper">
    <ng-template swiperSlide>
      <div class="slide">
        <h6>
          Primeiro escolha uma das opções de pesquisa, como ilustrado na figura abaixo.
        </h6>
        <img src="../../../../assets/img/tutorial/tutorial-pesquisa-1.png" alt="pagina inicial da aplicação, com mouse encima do input, mostrando uma seleção de possiveis atributos para pesquisa.">
        <p>
          Após selecionar qual opção de pesquisa deseja.
        </p>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="slide">
        <h6>
          Ou você pode escolher começar a digitar, como na imagem a baixo.
        </h6>
        <img src="../../../../assets/img/tutorial/tutorial-pesquisa-2.png" alt="campo de texto com inicio do atributo 'titul' inicia a pesquisa">
        <p class="m-t-5">
          Após selecionar qual atributo deseja pesquisa, o campo de pesquisa mudara como no exemplo.
        </p>
        <img src="../../../../assets/img/tutorial/tutorial-pesquisa-3.png" alt="campo com atributo 'titulo:' de exemplo">
        <p>
        Quando o atributo for selecionado, o campo de pesquisa mudara como no exemplo acima.
      </p>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="slide">
        <h6>
          Após selecionar o atributo, você pode digitar o valor desejado.
        </h6>
        <p>
          Pode utilizar da tecla 'Enter' para adicionar o atributo ou clicar no botão plus (ver imagem abaixo).
        </p>
        <img src="../../../../assets/img/tutorial/tutorial-pesquisa-4.jpg" alt="Input com com botão de input">
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="slide">
        <h6>
          Pós seleção
        </h6>
        <p>
          Após selecionar o atributo ele irá aparecer embaixo do campo de pesquisa. E pode Pesquisar outro atributo utilizando mesmo o campo de pesquisa.
        </p>
        <img src="../../../../assets/img/tutorial/tutorial-pesquisa-5.jpg" alt="Input sem nada a pesquisar. Embaixo dele uma badge com opção de excluir, o nome do atributo e seu valor ">
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="slide">
        <h6>
          Por fim, clique no botão de pesquisa.
        </h6>
        <img src="../../../../assets/img/tutorial/tutorial-pesquisa-6.jpg" alt="Imagem mostra o badge de pesquisa com nome do atributo e valor, botão de pesquisar e limpar pesquisa.">
      </div>
    </ng-template>
  </swiper>
</div>
