@import "~swiper/css";
@import "~swiper/css/navigation";

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide{
  margin-top: auto;
  margin-bottom: auto;

  &_content{
    text-align: center;
    padding: 5px 50px;
    background-color: #fff;

    h6{
      font-size: 14px;
      font-weight: bold;
      color: var(--psi-color-cinza-step-800);
    }
    p{
      font-size: 14px;
    }

    table{
      width: 100%;
      border-collapse: collapse;
      border-spacing: 0;
      color: var(--psi-color-cinza-step-800);

      tr{
        border-bottom: 1px solid var(--psi-color-cinza-step-800);
        th{
          padding: 10px;
          text-align: left;
          font-weight: bold;
        }
        th:last-child{
          text-align: center;
        }
      }

      tbody{
        tr{
          font-size: 13px;
          border-bottom: 1px solid var(--psi-color-cinza-step-250);
          td{
            padding: 10px;
            text-align: left;
            vertical-align: middle;
          }
          td:last-child{
            text-align: justify;
          }
        }
      }


    }

  }
}


