<div>
  <div class="justify-content-center">
    <img
      id="src"
      src="../assets/img/svg/Search engines-rafiki.svg"
      alt=""
      srcset=""/>
  </div>
  <div class="justify-content-center">
    <div class="searchbar">
      <div class="searchbar_input">
        <input type="text" placeholder="oque você está procurando hoje?"/>
        <img src="./assets/icons/search.svg" alt="question-mark" />
      </div>
      <div>
        <img src="./assets/icons/question.svg" alt="question-mark" />
      </div>
    </div>
    <div class="resultado"></div>
  </div>
</div>

<!-- <a href="https://storyset.com/web">Web illustrations by Storyset</a> -->
